@import 'fonts.css';

* {
	padding: 0;
	margin: 0;
	transition: color 0.5s;
}

.wrapper{
	display: flex;
	flex-direction: column;
	max-width: 1920px;
}
/* <header> <menu>*/

ul, li {
	display: block;
}

a { 
    text-decoration: none; 
 }

.menu-bar{
	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 5px 20.16px 0.84px rgba(7, 48, 87, 0.07);
  	z-index: 29;
}

.wrapper-header{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
	padding-top: 65px;
	padding-bottom: 43px;
	padding-left: 109px;
	display: none;
}

.wrapper-menu{
	display: flex;
	justify-content: center;
	padding-top: 110px;
	padding-left: 114px;
	padding-bottom: 70px;
}

.menu{
	display: flex;
}

.padding-menu__item {
	padding-left: 50px;
}

.menu__item a {
  	font-family: "Montserrat Bold";
  	font-size: 18px;
  	color: #808080;
  	text-transform: uppercase;
}
.menu__item a:hover {
	color: #073057;
}
/* </menu> */

.header {
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: 0 100%;
    max-width: 1920px;
    z-index: 18;
}

.outer-header{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 432px;
}

.header__title{
  	font-size: 72px;
  	font-family: "Playfair Display Regular";
  	color: rgb(7, 48, 87);
  	text-transform: uppercase;
  	padding-bottom: 48px;
  	z-index: 35;
}

.header__text {
	max-width: 837px;
  	font-size: 24px;
  	font-family: "Montserrat Regular";
  	color: rgb(128, 128, 128);
  	text-transform: uppercase;
  	text-align: center;
	padding-bottom: 70px;
	margin: 0px;
  	z-index: 34;
}

.button {
 	width: 355px;
  	height: 65px;
  	background: transparent;
  	z-index: 22;
}

.button_empty {
	border-width: 3px;
	border-color: rgb(128, 128, 128);
  	border-style: solid;
  	font-size: 24px;
  	font-family: "Montserrat Bold";
  	color: rgb(7, 48, 87);
  	text-transform: uppercase;
  	text-align: center;
  	z-index: 23;
}

.button_empty:hover {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(7, 48, 87);
  font-size: 32px;
  font-family: "Montserrat Regular";
  color: rgb(255, 255, 255);
  z-index: 139;
}

/* </header> */

/*  <section class="info"> */
.info{
	display: flex;
	justify-content: center;
	background-color: #fbfbfb;
	padding-top: 110px;
	padding-bottom: 88px;
}

.wrapper-info{
	display: flex;
	flex-direction: row;
	width: 1170px;
	justify-content: space-between;
}

.info-rectangle {
  	background-color: rgb(255, 255, 255);
  	max-width: 290px;
  	z-index: 145;
    display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	border-bottom: 8px solid #073057;
  	padding-top: 80px;
  	padding-bottom: 45px;
}

.info-rectangle:hover {
  box-shadow: 0px 12px 30.08px 1.92px rgba(7, 48, 87, 0.13);
  z-index: 150;
}

.info__title{
	font-size: 48px;
  	font-family: "Playfair Display Bold";
  	color: #073057;
  	font-weight: bold;
  	text-align: center;
  	text-transform: uppercase;
  	z-index: 161;
  	padding-bottom: 30px;
}

.info__text{
	font-size: 18px;
	font-family: "Montserrat Regular";
	color: #333333;
	text-align: center;
	z-index: 162;
}
/*  </section class="info"> */

/*  <section class="capabilities"> */
.capabilities{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	padding-top: 80px;
	padding-bottom: 69px;
}

.capabilities__title{
	font-size: 42px;
  	font-family: "Playfair Display Regular";
  	text-align: center;
  	color: #073057;
  	text-transform: uppercase;
  	z-index: 36;
  	padding-bottom: 70px;
}

.wrapper-capabilities{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1170px;
}

.capabilities-rectangle{
	width: 261px;
  	height: 315px;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}


.capabilities-rectangle:hover {
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 12px 30.08px 1.92px rgba(7, 48, 87, 0.13);
  	z-index: 41;
  	text-align: center;
  	padding-top: 27px;
}

.capabilities-rectangle:hover .capabilities__read{
    display:block;
}

.read-more{
	font-size: 22px;
  	font-family: "Montserrat Bold";
  	color: rgb(128, 128, 128);
  	text-decoration: underline;
  	text-align: center;
  	z-index: 166;
}

.read-more:hover{
	color: #073057;
}

.capabilities__read {
  	display:none;
}

.capabilities__subtitle{
	font-size: 22px;
  	font-family: "Montserrat Bold";
  	color: rgb(7, 48, 87);
  	text-transform: uppercase;
  	text-align: center;
  	z-index: 47;
  	padding-top: 30px;	
  	padding-bottom: 26px;
}
/*  </section class="capabilities"> */

/*  <section class="industries"> */
.industries{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fbfbfb;
}
.industries__title{
	font-size: 42px;
  	font-family: "Playfair Display Regular";
  	text-align: center;
  	color: #073057;
  	text-transform: uppercase;
  	z-index: 37;
  	padding-top: 80px;
  	padding-bottom: 70px;
}
.wrapper-industries{
	display: flex;
	flex-wrap: wrap;
}
.industries-rectangle{
	max-width: 639px;
	max-height: 640px;
	position: relative;
}

.industries-min-rectangle {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 7px 16.92px 1.08px rgba(0, 0, 0, 0.33);
  position: absolute;
  width: 639px;
  z-index: 5;
  bottom: 0px;
  padding-top: 33px;	
  padding-bottom: 18px;
  display:none;
}

.industries__subtitle{
	font-size: 22px;
  	font-family: "Montserrat Bold";
  	color: rgb(7, 48, 87);
  	text-transform: uppercase;
  	text-align: center;
  	z-index: 64;
}

.industries-rectangle:hover .industries-min-rectangle {
    display:block;
}

.industries__read {
  	display: flex;
  	justify-content: center;
}
/*  </section class="industries"> */

/*  <section class="facts"> */
.facts{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fbfbfb;
	padding-top: 82px;
	padding-bottom: 91px;
}

.facts__title{
	font-size: 42px;
  	font-family: "Playfair Display Regular";
  	text-align: center;
  	color: #073057;
  	text-transform: uppercase;
  	z-index: 40;
  	padding-bottom: 50px;
}

.outer-wrapper-facts{
	padding-bottom: 93px;
}

.wrapper-facts{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1170px;	
}

.facts-rectangle{
  	background-color: rgb(255, 255, 255);
  	width: 386px;
  	z-index: 110;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding-top: 50px;
  	padding-bottom: 35px;
  	border-bottom: 8px solid #073057;
}

.facts-rectangle:hover {
  box-shadow: 0px 12px 30.08px 1.92px rgba(7, 48, 87, 0.13);
  z-index: 116;
}

.facts__subtitle {
  font-size: 22px;
  font-family: "Montserrat Bold";
  color: rgb(7, 48, 87);
  text-transform: uppercase;
  text-align: center;
  z-index: 164;
  width: 270px;
  padding-top: 50px;
}
/*  </section class="facts"> */

/*  <section class="team"> */
.team{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	padding-top: 58px;
	padding-bottom: 80px;
}

.team__title {
  font-size: 42px;
  font-family: "Playfair Display Regular";
  color: rgb(7, 48, 87);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 72px;
  z-index: 39;
}

.wrapper-team{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1170px;	
	padding-bottom: 60px;
}

.team-rectangle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 292px;
}

.wrapper-circle{
	padding-bottom: 40px;
}

.circle {
  border-radius: 50%;
  background-color: rgb(232, 232, 232);
  width: 240px;
  height: 239px;
  z-index: 74;
}

.wrapper-team__subtitle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.team__subtitle {
  font-size: 22px;
  font-family: "Montserrat Bold";
  color: rgb(7, 48, 87);
  text-transform: uppercase;
  margin: 0;
  z-index: 73;
}

.team__position {
  font-size: 18px;
  font-family: "Montserrat Bold";
  color: rgb(128, 128, 128);
  font-weight: bold;
  text-align: center;
  margin: 0;
  z-index: 75;
}
/*  </section class="team"> */

/*  <section class="insights"> */
.insights{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fbfbfb;
	padding-top: 70px;
}

.insights__title {
	font-size: 42px;
	font-family: "Playfair Display Regular";
	color: rgb(7, 48, 87);
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 78px;
	z-index: 38;
}

.outer-wrapper-insights{
	max-width: 1170px;
}

.wrapper-insights{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 50px;

}

.insights-rectangle{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
}

.wrapper-rectangle__foto{
	padding-bottom: 15px;
}

.rectangle__foto {
	display: flex;
	justify-content: center;
  	background-color: rgb(232, 232, 232);
  	width: 360px;
  	position: relative;
  	padding-top: 36px;
  	padding-bottom: 22px;
  	z-index: 65;
}

.foto {
  	background-image: url(../img/foto.png);
  	width: 260px;
  	height: 207px;
  	z-index: 98;
}

.min-rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
  	background-color: rgb(7, 48, 87);
  	width: 131px;
  	position: absolute;
  	bottom: 0;
  	right: 0;
  	padding-top: 7px;
  	padding-bottom: 8px;
  	z-index: 108;
}

.min-rectangle__title {
  font-size: 18px;
  font-family: "Montserrat Bold";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  z-index: 109;
}

.wrapper-insights-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.insights__date {
  	font-size: 18px;
  	font-family: "Montserrat-Regular";
  	color: rgb(128, 128, 128);
	padding-bottom: 18px;
  	z-index: 67;
}

.insights__subtitle {
  	font-size: 22px;
  	font-family: "Montserrat Bold";
  	color: rgb(7, 48, 87);
  	text-transform: uppercase;
  	width: 290.408px;
  	margin: 0;
  	padding-bottom: 25px;
  	z-index: 118;
}

.insights__text {
  font-size: 18px;
  font-family: "Montserrat Regular";
  color: rgb(51, 51, 51);
  width: 345.425px;
  margin: 0;
  padding-bottom: 25px;
  z-index: 114;
}

.see-more {
  font-size: 22px;
  font-family: "Montserrat Bold";
  color: rgb(128, 128, 128);
  text-decoration: underline;
  text-align: center;
  z-index: 95;
}

.wrapper-insights-button{
	display: flex;
	justify-content: center;
	padding-bottom: 107px;
}
.insights-button {
  width: 292px;
  padding-top: 21px;
  padding-bottom: 22px;
  background: transparent;
  z-index: 120;
}

.wrapper-insights-form{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom: 88px;
}

.wrapper-insights-contact{
	display: flex;
	flex-direction: column;
	padding-right: 60px;
}

.insights-contact__title {
  font-size: 42px;
  font-family: "Playfair Display Regular";
  color: rgb(7, 48, 87);
  text-transform: uppercase;
  z-index: 134;
}

.insights-contact__text{
	font-size: 16px;
  	font-family: "Montserrat Regular";
  	color: rgb(7, 48, 87);
  	z-index: 134;
}

.insights-form{
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 862px;
}

.insights-input {
	border-width: 1px;
	border-color: rgb(51, 51, 51);
	border-style: solid;
	width: 271px;
	z-index: 130;
    padding-bottom: 27px;
    padding-top: 27px;
}

input{
	font-size: 18px;
	font-family: "Montserrat Regular";
}

 input[type="text"]::placeholder { 
 	color: rgb(51, 51, 51); 
	padding-left: 33px;
 } 

.wrap-insights-name{
	padding-right: 7px;
}

.wrap-insights-email{
	padding-right: 12px;
}
/*  </section class="insights"> */


/*  <footer> */
footer{
	background-color: rgb(255, 255, 255);
	z-index: 16;
}

.footer{
	display: flex;
	justify-content: center;
}

.wrapper-footer{
	max-width: 1170px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	padding-top: 55px;
}

.wrapper-footer-menu{
	display: flex;
	flex-direction: column;
	padding-right: 62px;
}

.footer-first-menu{
	padding-bottom: 30px;
}

.footer-padding-menu__item{
	padding-left: 20px;
}

.footer-menu__item1 a{
  font-size: 14px;
  font-family: "Montserrat Bold";
  color: rgb(173, 173, 173);
  text-transform: uppercase;
  z-index: 44;
}

.footer-menu__item a:hover {
	color: #073057;
}

.footer-menu__item1 a:hover {
	color: #073057;
}

.footer-padding-menu__item1{
	padding-left: 15px;
}

.wrapper-footer-copyright{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.copyright {
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: rgb(128, 128, 128);
  z-index: 137;
}
/*  </footer> */
